%title {
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 64px;
    line-height: 117%;
    color: #081323;
}

%title-info {
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 32px;
    line-height: 118%;
    color: #081323;   
}

