@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 2; 
    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.menu {
    flex: 1 1 auto;
    &__body {
    }
    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 68px;
        row-gap: 5px;
    }
    &__list-link-active {
        background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-emphasis-color: transparent;
        font-weight: 600;
        line-height: 1.16%;
    }
    &__list-link {
        color: #FFFFFF;
    &::before {
        content: '';  
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        bottom: -5px;
        background-color: #2af5cc;
        transform: scaleX(0);
        transition: transform 0.35s;
        transform-origin: right;
    }
    &:hover:before {
        width: 100%;
        transform: scaleX(1);
        transition: transform 0.35s;
        transform-origin: left;
    }
    }
} 
.icon-menu {
    display: none;
}
@media(max-width: 767.98px) {
    .icon-menu {
        display: block;
        flex: 0 0 30px;
        height: 18px;
        position: relative;
        z-index: 5;
        background-color: transparent;
        border: none;
    }
    .icon-menu span,
    .icon-menu::before,
    .icon-menu::after {
        content: '';
        position: absolute;
        right: 0;
        width: 100%;
        height: 2px;
        background-color: #dbf6dc;
        transition: all 0.3s ease 0s;
    }
    .icon-menu::before {
        top: 0;
    }
    .icon-menu::after {
        bottom: 0;
    }
    .icon-menu span {
        top: calc(50% - 1px);
    }
    .menu-open .icon-menu span { 
        width: 0;
    }
    .menu-open .icon-menu::before {
        top: calc(50% - 1px);
        transform: rotate(-45deg);
    }
    .menu-open .icon-menu::after {
        bottom: calc(50% - 1px);
        transform: rotate(45deg);
    }
    .menu__body {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #2e3949;
        left: -100%;
        top: 0;
        padding: 100px 15px 30px 15px;
        overflow: auto;
        transition: left 0.3s ease 0s;
    }
    .menu__body::before {
        content: '';
        width: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        height: 70px;
        z-index: 2;
        transition: left .3s ease 0s;
    }
    .menu__list {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .menu__list-item {
        padding-top: 40px;
    }
    .top_inner-title {
        font-size: 52px;
        line-height: 117%; 
    }
    .footer__items {
        flex-wrap: wrap;
        flex-basis: 100%; 
    }
}
.menu-open .menu__body, 
.menu-open .menu__body::before {
    left: 0;
}
.cart {
    display: flex;
    position: relative;
    right: 5px;
    &__quantity {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
        border-radius: 50%;
        color: #2D3949;
        left: 60%;
        right: 17.95%;
        top: 8%;
        bottom: 42.58%;
    }
}
.main {
    position: relative;
    top: -100px;
}
.top{
    position: relative;
    &__inner{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-top: 120px;
    }
    &__inner-title {
        font-weight: 700;
        font-size: 82px;
        line-height: 117%;
        color: #FFFFFF;
        text-align: center;
        width: 80%;
    }
      &__inner-subtitle {
        padding-top: 40px;
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;
        color: #FFFFFF;
        text-align: center;
        width: 40%;
      }
      &__inner-search {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 42px;
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid #FFFFFF;
        border-radius: 50px;
        width: 463px;
        .search-txt {
            border: none;
            background: none;
            outline: none;
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;
            color: #FFFFFF;
            padding: 24px 30px;
            flex: 1 1 auto;
            &::placeholder {
                color: #FFFFFF;
              }
        }
        .search-btn  {
            background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
            padding: 15.5px;
            margin-right: 12px;
            border-radius: 50%;
        }  
    }
}
.background-image {
    background-image: url(../images/top-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 133vh;
}
.top::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 83.65%);
    z-index: 1;
  }
  @media(max-width: 767.98px) {
    .cart {
        right: 80%;
    }
    .top::after {
        display: none;
      }
    .top {
        &__inner-title {
            font-weight: 700;
            font-size: 62px;
            line-height: 117%; 
        }
        &__inner-subtitle {
            width: 100%;
        }
    }
    .top__inner-search {
        width: 80%;
        .search-txt {
            padding: 25px 0 25px 25px;
            width: 80%;
        }
    }
}
@media(max-width: 425px) {
    .top__inner-title {
        font-size: 52px;
    }
    .top__inner-search {
        width: 100%;
        .search-txt {
            padding: 25px 0 25px 25px;
            width: 80%;
        }
    }
    .card-items {
        width: 250px;   
    }
} 
----ROW-Card
.seller {
}
.services-rowCard {
    display: flex ;
    justify-content: space-between;
    margin: 110px 0px 140px 0px;
}
.card-items {
    display: flex;
    width: 338px;
    border-radius: 18px;
    transition: all .3s ease;
    position: relative;
}
.card-items::before {
    position: absolute;
    content: "";
    bottom: -10%;
    width: 104%;
    top: -10%;
    border-top: 2px solid rgba(195, 180, 195, 0.621);
    border-bottom: 2px solid rgba(195, 180, 195, 0.621);
    border-radius: 5px;
    transition: all .3s;
    transform: scaleX(0);
}
.card-items:hover::before {
    transform: scaleX(1);
}
.card-items:hover {
    transform: scale(1.1);
}
.card-content {
    width: 338px;
    margin-left: 24px;
}
.title-service {
    @extend %title-info;
    flex-grow: 1;
}
.content-service {
    padding-top: 16px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #828282;
}
@media(max-width: 991.98px) {
    .services-rowCard {
        flex-direction: column;
        align-items: center;
        margin: 70px 0px 110px 0px;
    }
    .card-items {
    }
    .card-items:not(:last-child) {
        margin-bottom: 50px; /* Задайте желаемое расстояние снизу */
      }
}
@media(max-width: 425px) {
    .card-items {
        width: 300px;   
    }
}
// SECTION-PRODUCTS==================
.product {
}
.container { 
}
.product .container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.product__content {
margin-right: 38px;
}
.product__title {
    @extend %title;
    width: 363px;
    margin-top: 100px;
}
.view-more {
    margin-top: 40px;
    display: flex;
    .link-more {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #4F4F4F; 
    }
}
.arrow-link {
    padding-left: 20px;
    object-fit: contain;
}
.cards {
    width: 987px;
    &__img {
        height: 327px;
    }
}
.cards__info {
    position: relative; 
    height: 634px;
    
    &:before {
      content: ''; 
      position: absolute;
      top: 123px;
      left: 0;
      width: 100%;
      height: 100%;
      background: #C1D0E4;
      border-radius: 50px;
      background-size: cover;
      z-index: -1;
    }
  }
.bg-product {
    background: #FFFFFF;
    margin-top: 46px;
    border-radius: 50px 50px 0 0;
    // height: 100%;
    &__name {
        position: relative;
        padding: 26px 0 0 38px;
        width: 290px;
        font-weight: 500;
        font-size: 32px;
        line-height: 38px;
        display: inline-block;
        word-wrap: break-word;
        height: auto; 
        &::before {
            content: '';
        position: absolute;
        top: 120%; /* Задаем позицию в 50% от высоты блока &__name */
        transform: translateY(-50%); /* Смещаем на половину высоты псевдоэлемента вверх */
        left: 36px;
        width: 121px;
        height: 25px;
            background-image: url(../images/slider/stars-rate.svg);
        }
    }
    &__price {
        margin: 141px 0 0 38px;
        padding-bottom: 39px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            bottom: 21px;
            right: 41px;
            width: 60px;
            height: 60px;
            background-image: url(../images/slider/add-staff.svg);
        }
    }
}
.slick-slide .slick-current .lick-active {
    width: 329px;
}
.slick-slide {
    margin-right: 30px;
}
.slick-initialized {
    position: relative;
}
.slick-next { 
    position: absolute;
    right: 0;
    top: 50%;
    background-image: url(../images/slider/button-slider.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateY(-50%);
    z-index: 10;
    text-indent: -9999px;
    border: none;
    background-color: transparent;
    width: 64px;
    height: 64px;
}
@media(max-width: 1440px) {
    .product .container {
        flex-direction: column;
    }
    .product__content {
        margin: 0 0 80px 0;
    }
    .product__title {
        width: auto;
        margin: 0;
    }
    .custom-cards__info {
        width: 328px !important;
    }
    .cards {
        width: 750px;
    }    
}
@media(max-width: 767.98px) {
    .product__title {
        text-align: center;
        font-size: 54px;
    }
    .view-more {
        justify-content: center;
        text-align: center;
    }
    .custom-cards__info {
        width: 271px !important;
        height: auto;
    } 
    .cards {
        width: 299px;
    }
    .cards__img {
        height: 270px;
    }
    .interior__content .product__title {
        text-align: center;
    }
}
.slick-next:active {
    transform: translateY(-49%); 
}
 .slick-prev {
    display: none !important;
 } 
// INTERIOR========
.interior {
    .container {     
    }
}
.container {
}
.interior__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 180px 0 180px 0;
    .product__title {
        width: auto;
        margin-top: 0;
    }
}
.interior-collection {
    display: flex;
    width: 71%;
    justify-content: space-around;
    margin-top: 80px;
}
.interior-collection img {
    width: 100%;
    border-radius: 50px;
}
.column1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 12px;
}
.item1 {   
}
.interior__info {
}
.item2 {
}
.column2 {
}
.item3 {
}
.column1,
.column2 {
    width: 500px;
}
.interior__info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all ease-out .4s;
}
.interior__info h3 {
    font-weight: 600;
    font-size: 55px;
    line-height: 117%;
    color: #FFFFFF;
}
.item1:hover .interior__info,
.item2:hover .interior__info,
.item3:hover .interior__info {
opacity: 1;
}
@media(max-width: 767.98px) {
    .interior-collection {
        width: 100%;
    }
    .interior-collection img {
        border-radius: 25px;
    } 
    .interior__info {
        border-radius: 25px;
        h3 {
            font-size: 40px;
        }
    }   
}
@media (max-width: 425px) {
    .interior__info h3 {
        font-size: 26px;
    }
}
// CARE
.care {
}
.container {
}
.care .container {
    display: flex;
    justify-content: center;
}
.care__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
    flex-direction: column;
    .view-more {
        margin-top: 20px;
    }
}
.care-title h2{
    width: 450px;
    margin-top: 0;
}
.product__title {
    width: auto;
}
.link-more {
}
.care-list {
    width: 600px;
    margin-top: 62px;
    height: auto;
}
.item-care {
    display: flex;
    align-items: center;  
}
.item-care:not(:last-child) {
    margin-bottom: 32px;
  }
.info-care {
}
.item-care img {
    margin-right: 20px;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    object-fit: contain;
  }
  .info-care h4 {
    margin-bottom: 8px;
        font-weight: 500;
        font-size: 32px;
        line-height: 118%;
  }
  .info-care p {
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: #4F4F4F;
  }
  .image-care {
        align-items: center;
        display: flex;
        justify-content: flex-end;
  }
.image-care img {
    border-radius: 50px;
    width: 90%;
}
@media(max-width: 767.98px) {
    .care__description {
        flex-direction: column;
        width: 100%;
    }
    .care-list {
        width: auto;
    }
    .care-title h2 {
        margin: 0 auto;
        width: auto;
    }
    .item-care {
        display: flex;
        flex-direction: column;
    } 
    .info-care h4 {
        text-align: center;
    }
    .info-care p {
        text-align: center;
    }
    .item-care img {
        margin-right: 0;
    }
}
@media(max-width: 1200px) {
    .care .container {
        flex-direction: column;
    }
    .image-care{
        justify-content: center;
    }
}
// ====FOOTER
.footer {
    background: linear-gradient(93.99deg, #566270 0.51%, #283444 100%);
    &__info {
      display: flex;
      justify-content: space-between;
      padding-top: 120px;
      gap: 10px;
    }
  
    &__subscribe {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }
  
    &__title {
      font-weight: 500;
      font-size: 48px;
      line-height: 56px; 
      color: #FFFFFF;
      padding: 10px 0 25px 0;
    }
    &__mail {
      position: relative;
    }
    &__mail label {   
    }
    &__mail-send {
        height: 71px;
        width: 463px;
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid #FFFFFF;
        border-radius: 50px;
        padding: 24px 30px;
        outline: none;
        color: rgb(255, 255, 255);
      &::placeholder {
        font-size: 20px;
        line-height: 23px;
        color: #FFFFFF;
      }
    }
    &__btn {
      position: absolute;
      top: 12px;
      right: 12px;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      color: #FFFFFF;
      background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
      border-radius: 50px;
      border: 0;
      padding: 12px 24px;
      cursor: pointer;
    }
    &__items {
        padding: 10px;
        box-sizing: border-box;
      & > h4 {
        font-weight: 700;
        font-size: 24px;
        line-height: 140%;
        color: #FFFFFF;
        padding-bottom: 33px;
      }
      & > ul {
        & > li {
        }
        & > li:not(:last-child) {
            margin-bottom: 16px;
          }
        & > li > a {
          font-weight: 500;
          font-size: 16px;
          line-height: 150%;
          color: #FFFFFF;
        }
      }
    }
    &-bottom {
      margin: 90px 0 60px;
      text-align: center;
      color: #FFFFFF;
      font-size: 16px;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: -50px;
        right: 0;
        border: 1px solid #FFFFFF;
        width: 100%;
      }
    }
  }

 @media(max-width: 1200px) {
    .footer__info {
        padding-top: 50px;
        align-items: center;
        flex-direction: column;
        text-align: center;
        .footer__subscribe {
            align-items: center;
        }
    }
 }
 @media(max-width: 767.98px) { 
    .footer__mail {
        width: 100%;
      }
      .footer__mail-send {
        width: 100%;
        padding: 24px 11px;
        height: 61px;
 }
.footer__btn {
    top: 7px;
    padding: 11px 10px;
    font-size: 16px;
}
}
  

